<ion-header>
  <ion-toolbar color="success">
    <ion-title><b>Informações</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="!users || users.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ng-container *ngIf="!parks || parks.length == 0">
        <div *ngFor="let n of [0,1,2]" padding>
          <ion-skeleton-text></ion-skeleton-text>
          <p>
            <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
          </p>
        </div>
      </ng-container>

    <ion-item-sliding *ngFor="let item of users">
      <div class="ion-padding" *ngIf="item.email == email">
        <ion-item lines="inset" button [routerLink]="['/info-user', item.id]">
          <h2>{{ item.nome }}  {{ item.sobrenome }} <ion-button (click)="remove(item)" color="danger"> Excluir </ion-button>
          </h2>
        </ion-item>
      </div>
    </ion-item-sliding>
    <ion-item-sliding *ngFor="let item of parks">
        <div class="ion-padding" *ngIf="item.email == email">
          <ion-item lines="inset" button [routerLink]="['/info-estacionamento', item.id]">
            <h2>{{ item.nome }}  {{ item.email }} <ion-button (click)="remover(item)" color="danger"> Excluir </ion-button>
            </h2>
          </ion-item>
        </div>
      </ion-item-sliding>
  </ion-list>
</ion-content>