<ion-header>
  <ion-toolbar color="success">
    <ion-title><b>Informações</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of users">
      <div class="ion-padding" *ngIf="item.email == email">
        <ion-item lines="inset" button [routerLink]="['/info-user', item.id]">
          <h2>{{ item.nome }}  {{ item.sobrenome }} <ion-button (click)="remove(item)" color="danger"> Excluir </ion-button>
          </h2>
        </ion-item>
      </div>
    </ion-item-sliding>
    <ion-item-sliding *ngFor="let item of parks">
        <div class="ion-padding" *ngIf="item.email == email">
          <ion-item lines="inset" button [routerLink]="['/info-estacionamento', item.id]">
            <h2>{{ item.nome }}  {{ item.email }} <ion-button (click)="remover(item)" color="danger"> Excluir </ion-button>
            </h2>
          </ion-item>
        </div>
      </ion-item-sliding>
  </ion-list>
</ion-content>