<ion-header>
  <ion-toolbar color="success">
    <ion-title><b>Login Estacionamento</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="validations_form" (ngSubmit)="validations_form.value">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Login Estacionamento</h3>
          </div>
          <div class="padding">
            <ion-item>
              <ion-input formControlName = "email" name="email" type="email" placeholder="your@email.com"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName = "password" name="password" type="password" placeholder="Password"></ion-input>
            </ion-item>
          </div>
          <div class="padding">
            <ion-button color="success" size="large" type="submit" [disabled]="!validations_form.valid" expand="block">Login</ion-button>
          </div>
          <div class="ion-text-center">
          If you don't have an account, please <a routerLink='/register-park'>
          register</a> first!
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
